# SUPABASE
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key

# STRIPE
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
STRIPE_WEBHOOK_SECRET=your_webhook_secret

# SERVER
PORT=3001
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key

# EMAIL (NODEMAILER)
EMAIL_FROM=noreply@atlas-ia.net
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_gmail@gmail.com
EMAIL_PASS=your_app_password
